#header{width: 100%; height: 80px; background: #fff;}
#header .logo{width: 30%; margin-left: 5%;}
#header .logo img{width: 50%; margin-top: 15px;}
#header .nav{width: 60%; height: 80px; margin-right: 5%;}
#header .nav ul li{width: 20%; height: 80px; float: left; text-align: center;font-size: 18px; line-height: 80px;}
#header .nav ul li a{color: #7B7B7B;}
#header .nav ul li a:hover{border-bottom: 2px solid #2AAD6F; color: #000;}
#banner{width: 100%; height: 590px; position: relative;}
#banner .box_img{width: 100%; height: auto;}
#banner .box_img li{position: absolute; display: none;}
#banner .box_img ul li a img{width: 100%; height: 590px;}
#banner .box_tab{width: 300px; position: absolute; bottom: 10px; text-align: center; margin-left: 40%;}
#banner .box_tab a{border-radius: 50%; display: inline-block; padding: 6px 6px; margin: 0 5px; background: #333;}
#banner .box_tab a.active{background: #fff; border: 3px solid #06B570; padding: 4px 4px;}
#content{width: 100%; height: 250px; background: #fff;}
#content ul li{width: 32%; height: 250px; float: left; margin-top: 10px; margin-left: 1%;}
#content ul li a img{width: 100%; height: 250px;}
#footer{width: 100%; height: 350px; background: #F6F6F6; margin-top: 10px;}
#footer ul li{width: 15%; height: 250px; float: left;}
#footer ul li ul li{width: 100%; height: 30px; margin-left: 10%;}
#footer ul li ul li a{color: #363636;}
#footer ul li ul li.til{font-size: 15px; height: 100px; color: #000; line-height: 130px; font-weight: bold;}
#footer ul li.online{width: 25%; height: 250px; margin-left: 2%;}
#footer ul li ul li.service{width: 50%; height: 40px; border: 2px solid #000; margin-top: 50px; margin-left: 50%; border-radius: 20px;}
#footer ul li ul li.service img{width: 17%; margin-top: 7px; margin-left: 15%;}
#footer ul li ul li h3{font-size: 16px; font-weight: 100; margin-top: -30px; margin-left: 40%;}
#footer ul li ul li.call{width: 60%; height: 50px; line-height: 50px; margin-top: 10px; margin-left: 45%; text-align: center; font-size: 24px; font-weight: bold; color: #000;}
#footer ul li ul li.hotline{width: 50%; height: 20px; line-height: 20px; margin-left: 50%; text-align: center; font-size: 12px;}
#footer .bei{width: 90%; height: 100px; border-top: 1px solid #CFCFCF; position: relative; top: 250px; margin-left: 5%;}
#footer .bei .fl{width: 43%; margin-top: 30px; position: absolute;}
#footer .bei .fl h4{font-size: 14px; color: #7B7B7B; font-weight: 100;}
#footer .bei .fl .ico{width: 4.8%; height: 28px; position: absolute; top: -5px; left: 100%; background: url(../images/bei.png) no-repeat 0px 0px;}
#footer .bei .fl .ico:hover{background: url(../images/bei.png) no-repeat -24px 0px;}
#footer .bei .fr{width: 30%; position: absolute; left: 70%; top: 30px;}
#footer .bei .fr p{font-size: 14px; padding-left: 20%;}
#footer .bei .fr .link{margin-left: 50%;}
#footer .bei .fr .link li{width: 19%; height: 35px; background: #C9C9C9; border-radius: 50%; margin-top: -30px; margin-left: 10%;}
#footer .bei .fr .link li img{width: 25px; margin-top: 4px; margin-left: 5px;}
#footer .bei .fr .link li.weibo:hover{background: #D9595C;}
#footer .bei .fr .link li.wechat:hover{background: #00925F;}
#footer .bei .fr .link li.pay:hover{background: #1CACEB;}
#backTop{width: 40px; height: 35px; background: #EDEDED; position: fixed; right: 30px; bottom: 40px; display: none;}
#backTop img{position: absolute; top: 6px; left: 10px;}






